@model projekcik.Models.Danieglowne

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Danieglowne</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Skladniki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skladniki)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wykonanie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wykonanie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iloscporcji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iloscporcji)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Nazwa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
