@model IEnumerable<projekcik.Models.Danieglowne>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Skladniki)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wykonanie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iloscporcji)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Skladniki)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wykonanie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iloscporcji)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Nazwa }) |
            @Html.ActionLink("Details", "Details", new { id=item.Nazwa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Nazwa })
        </td>
    </tr>
}

</table>
